node_modules/
.next/
out/
dist/
lib/
.env
.env.local
.env*.local
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log
.DS_Store
.vscode/
.idea/
coverage/
.turbo/
*.tsbuildinfo
.vercel

.vercel
