@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }
  body {
    background: #ffffff;
    color: #1a1a2e;
  }
  /* Suprimir el borde azul del search en Webkit */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}
